@font-face {
  font-family: canopee;
  src: url(./fonts/canopee.ttf);
}

@font-face {
  font-family: domain;
  src: url(./fonts/domaine.ttf);
}

@font-face {
  font-family: editorial;
  src: url(./fonts/editorial.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1d1d1b;
  font-family: "editorial";
}

main {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #cdc6be;
}

main {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
main::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.paper-bg {
  background-image: url(./assets/bg.jpg);
  background-position: 50%;
  background-size: auto;
  mix-blend-mode: multiply;
  background-color: #cdc6be;
}

/* Navbar */
.menu-line {
  z-index: 2;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  background-color: #1d1d1b;
}

nav {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 2vw;
  font-family: "editorial";
  font-size: 1.8vh;
  line-height: 2vh;
  position: relative;
}

nav img {
  width: 20vh;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.width-30 {
  width: 30vw;
}

.headline {
  width: 28vw;
  height: 100%;
  text-align: center;
  border-left: 1px solid rgba(29, 29, 27, 0.5);
  border-right: 1px solid rgba(29, 29, 27, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  display: inline-block;
}

.animated-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17vw;
  height: 17vh;
  z-index: 0;
  opacity: 0.5;
  pointer-events: none;
}

.animated-ellipse ellipse {
  stroke-dasharray: 700; /* Total length of the ellipse perimeter */
  stroke-dashoffset: 700; /* Fully hidden by default */
  transition: stroke-dashoffset 0.5s ease-out; /* Smooth appearance */
}

.head-title:hover .animated-ellipse ellipse {
  stroke-dashoffset: 0;
}

.head-title {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 4.5vw;
  font-weight: 400;
  line-height: 4.5vw;
  z-index: 1;
  position: relative;
}

.head-desc {
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 1vw;
  font-size: 2.6vw;
  line-height: 3vw;
}
.header-item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.header-item:hover .header-item-img-div img {
  scale: 1.1;
}

/* For Desktop */
@media screen and (min-width: 701px) {
  .header-item div {
    width: 30vw;
    overflow: hidden;
    display: flex;
  }
}

.header-item-img-div {
  height: 25vh;
  width: 100%;
  border: 1px solid #1d1d1b;
  overflow: hidden;
}

.header-item-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.5s;
}

.header-item-name-img {
  height: 3vh;
  display: flex;
}

.header-item-name-img img {
  height: 100%;
}

.new {
  background-color: #c03f13;
  color: #cdc6be;
  font-family: "canopee";
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5vw;
  border-radius: 0.2vw;
  margin-left: 0.5vw;
  padding: 0.1vw 0.25vw 0;
  display: flex;
  align-items: center;
}

.header-item-desc {
  max-width: 95%;
  letter-spacing: -0.01em;
  font-family: "editorial";
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.1em;
  color: #1d1d1b;
}

.mr {
  margin-right: 3vw;
}
.ml {
  margin-left: 3vw;
}

/* Miranda */
.miranda {
  color: #e0dbd3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1d1d1b;
  font-size: calc(35vw - 2rem);
  font-family: "canopee";
  padding: 5vh 2vw;
  padding-top: 1vh;
  line-height: 0.9;
  box-sizing: border-box;
  overflow: hidden;
}

.miranda div {
  width: 100%;
  background-color: #1d1d1b;
  white-space: nowrap;
}

/* MWeb for Navbar, Header & Miranda */
@media screen and (max-width: 700px) {
  nav {
    justify-content: center;
  }
  .remove-from-mweb {
    display: none;
  }
  header {
    flex-direction: column;
  }
  .mr,
  .ml {
    margin: 3vh 0;
  }
  .header-item,
  .headline,
  .width-30,
  .header-item div,
  .header-item-img-div {
    width: 90vw;
  }
  .new {
    font-size: 1.2vh;
    line-height: 1.5vh;
    border-radius: 0.2vh;
    margin-left: 0.5vh;
    padding: 0.1vh 0.25vh;
  }
  .header-item-desc {
    font-size: 1.5vh;
    line-height: 1.8vh;
  }
  .header-item-img-div {
    height: 15vh;
  }
  .miranda {
    padding: 2vh 2vw;
  }
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3vh 6vw;
  width: 100%;
  position: relative;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1d1d1b;
  color: #e0dbd3;
  font-family: "editorial";
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #cdc6be;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(33.3333% + 1vw);
  width: 1px;
  background-color: rgba(29, 29, 27, 0.5);
  z-index: 1;
}

.grid-item:hover {
  background-color: #cdc6be;
  color: #1d1d1b;
  transform: scale(1.05);
}

.left-column {
  display: grid;
}

.left-column > div {
  display: flex;
}

.rich-text-block {
  position: relative;
}

.h-head.s-1 {
  font-size: 8vw;
}

.h-head {
  position: relative;
  font-size: 14vw;
  line-height: 0.8em;
}

.hero h2 {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-family: "canopee";
  font-weight: 400;
}

.f-span {
  letter-spacing: -0.02em;
  font-family: "domaine";
  font-weight: 500;
}

.strike-under {
  width: 100%;
  height: 2px;
  opacity: 0.3;
  background-color: #1d1d1b;
  position: absolute;
  bottom: 25%;
}

.left-middle {
  border: 1px solid #1d1d1b;
  margin-bottom: 3vh;
}

.left-middle img {
  width: 100%;
  width: 100%;
  overflow: hidden;
}

.has-dropcap {
  font-size: 2.1vw;
  line-height: 1.2em;
  text-align: left;
  font-weight: 300;
}

.has-dropcap:first-letter {
  font-family: "canopee";
  font-feature-settings: "ss03";
  float: left;
  font-size: 6.5vw;
  line-height: 0.7em;
  margin: 0.7vw 1vw 1vw 0vw;
  background-color: #1d1d1b;
  color: #cdc6be;
  padding: 0.75vw 0.4vw 0.5vw 0.5vw;
}

@media (max-width: 479px) {
  .has-dropcap {
    font-size: 6vw;
    line-height: 7.5vw;
    letter-spacing: -0.02em;
  }

  .has-dropcap:first-letter {
    font-size: 20vw;
    line-height: 17vw;
    margin: 1vw 2vw 1vw 0vw;
    padding: 1.5vw 0.8vw 0.5vw 1vw;
  }
}

.right-column {
  display: grid;
  gap: 7vh;
}

.right-column > div {
  display: flex;
}

.right-top {
  border: 1px solid #1d1d1b;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-top img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.under {
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  text-decoration-thickness: 0.5px;
  text-decoration-color: #0000007a;
}

.right-column .h-head {
  line-height: 1em;
  font-size: 7vw;
}

@media screen and (max-width: 700px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .grid-container::before {
    display: none;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-top {
    margin-top: 8vw;
  }

  .left-column > div,
  .right-column > div {
    width: 100%;
  }
  .rich-text-block {
    display: flex;
    width: 100%;
    gap: 3vw;
  }
  .h-head.s-1,
  .h-head {
    font-size: 16vw;
  }
  .left-top .sub {
    font-size: 16vw;
  }
  .left-middle {
    margin-top: 7vw;
    margin-bottom: 5vw;
  }
  .right-column .h-head {
    font-size: 13vw;
  }
  .right-column {
    gap: 5vw;
  }
}

/* Website */
.website-headline {
  display: flex;
  gap: 3vh;
  padding: 5vh 2vw;
}

.website {
  color: #e0dbd3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1d1d1b;
  font-size: calc(30vw - 3rem);
  font-family: "canopee";
  padding-top: 1vh;
  line-height: 0.5;
  box-sizing: border-box;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
}

.stamp {
  width: 20%;
}

.stamp img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .website-headline {
    padding: 1vh 2vw;
    padding-top: 0;
  }
}

/* Works */
.works {
  display: flex;
  padding: 1vh 2vw;
  gap: 6vw;
  position: relative;
}

.works::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(40% + 1vw);
  width: 1px;
  background-color: rgba(29, 29, 27, 0.5);
  z-index: 1;
}

.works .left-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 3vh;
}

.works .left-section .content {
  display: flex;
  gap: 4vw;
  position: relative;
}

.works .left-section .upcoming-head {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 4.5vw;
  font-weight: 400;
  line-height: 4.5vw;
}

.upcoming-head .dom {
  font-family: "domaine";
  font-weight: 500;
  display: inline-block;
}

.works .upcoming-desc {
  font-family: "editorial";
  text-align: left;
  font-size: 2.6vw;
  line-height: 3vw;
  letter-spacing: -0.03em;
}

.works .unexpected {
  gap: 0vh;
}

.works .unexpected .unexpected-image {
  width: 95%;
  height: 50%;
  overflow: hidden;
}

.works .unexpected .unexpected-image img {
  width: 100%;
  overflow: hidden;
  transition: all 0.4s ease;
}

.unexpected:hover .unexpected-image img {
  scale: 1.1;
  overflow: hidden;
}

.unexpected-content .head {
  font-family: "canopee";
  text-transform: capitalize;
  font-size: 2vw;
  margin-top: 1vh;
}

.unexpected-content .desc {
  max-width: 95%;
  letter-spacing: -0.01em;
  margin-top: 1vw;
  font-family: "editorial";
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1.5vw;
}

.works .left-section .content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(50%);
  width: 1px;
  background-color: rgba(29, 29, 27, 0.5);
  z-index: 1;
}

.upcoming,
.unexpected {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.left-section .image {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.left-section .image img {
  width: 100%;
  height: 100%;
}

.works .right-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 3vh;
  font-family: "canopee";
}

.works h2 {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-family: "canopee";
  font-weight: 400;
}

.works .sub {
  font-size: 16vw;
}

.works .has-dropcap {
  font-family: "editorial";
  font-size: 2.25vw;
  line-height: 2.7vw;
}

.works .h5.h3 {
  letter-spacing: -0.02em;
  text-transform: none;
  font-family: "editorial";
  font-weight: 300;
}

.works .h5 {
  font-size: 2.25vw;
  line-height: 2.7vw;
}

.works .all-work {
  width: 100%;
  height: 13vw;
  display: flex;
  flex: 0 auto;
  overflow: hidden;
  border: 1px solid rgba(29, 29, 27, 0.5);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.works .all-work-text {
  text-transform: uppercase;
  font-size: 6vw;
  line-height: 6vw;
  letter-spacing: -0.04em;
  font-family: "canopee";
  font-weight: 400;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.works .all-work-arrow {
  position: absolute;
  width: 10vw;
  opacity: 0;
  transform: translateX(-250%);
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.works .all-work:hover .all-work-text {
  transform: translateX(200%);
  opacity: 0;
}

.works .all-work:hover .all-work-arrow {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 700px) {
  .works {
    flex-direction: column;
    width: 100%;
    gap: 2vh;
  }
  .works::before {
    display: none;
  }
  .works .left-section,
  .works .right-section {
    width: 100%;
    gap: 2vh;
  }
  .works .left-section .upcoming-head {
    font-size: 8vw;
    line-height: 8vw;
    padding-top: 2vw;
  }
  .works .upcoming-desc {
    font-size: 4.6vw;
    line-height: 5vw;
    letter-spacing: -0.03em;
  }
  .unexpected-content .head {
    font-size: 5vw;
    margin-top: 1vh;
  }
  .unexpected-content .desc {
    margin-top: 1vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
  }

  .works .right-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3vh;
  }

  .works .rich-text-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    padding-right: 1vh;
    border-bottom: 1px solid #1d1d1b;
    border-right: 1px solid #1d1d1b;
  }

  .works .h-head.s-1,
  .h-head {
    font-size: 10vw;
  }

  .works .sub {
    font-size: 20vw;
  }

  .works .has-dropcap {
    font-size: 4.25vw;
    line-height: 4.7vw;
  }

  .works .has-dropcap:first-letter {
    font-size: 12vw;
    margin: 1.7vw 1vw 1vw 0vw;
    padding: 1.75vw 1vw 1vw 1.5vw;
  }

  .works .h5 {
    font-size: 3.25vw;
    line-height: 3.7vw;
  }

  .works .all-work {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/* Awards */
.awards-wrapper {
  width: 100%;
  padding: 2vw;
}

.awards {
  border-top: 1px solid #1d1d1b;
  border-bottom: 1px solid #1d1d1b;
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  gap: 2vw;
  flex-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
}

.award {
  display: flex;
}

.award-item {
  display: flex;
  flex-direction: column;
}

.award-head {
  letter-spacing: -0.03em;
  font-family: "editorial";
  font-size: 1.7vw;
  font-weight: 300;
  line-height: 2vw;
}

.award-desc {
  letter-spacing: -0.045em;
  font-family: "canopee";
  font-size: 5vw;
  line-height: 5vw;
}

.award-count {
  float: left;
  margin-left: 0.5vw;
  font-family: Germgoth;
  font-size: 11vw;
  font-weight: 400;
  line-height: 6vw;
}

/* About */
.about {
  display: flex;
  padding: 2vw;
  flex-direction: column;
  gap: 2vw;
  padding-top: 0;
}

.about-top,
.about-middle,
.about-bottom {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.about-top-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.about-top-text {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 31vw;
  font-weight: 400;
  line-height: 20vw;
  margin-top: 2%;
}

.about-the {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.about-the-image {
  height: 100%;
  width: 30%;
  border: 1px solid #1d1d1b;
  overflow: hidden;
  max-height: 22vw;
}

.about-the-image img {
  height: 100%;
  width: 100%;
}

.about-top-right {
  width: 50%;
  height: 45vw;
  overflow: hidden;
  border: 1px solid #1d1d1b;
  margin-top: 1%;
}

.about-top-right img {
  height: 100%;
  width: 100%;
}

.about-middle-text {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 27vw;
  font-weight: 400;
  line-height: 20vw;
  margin-top: 1%;
}

.about-middle-text span {
  font-family: "domaine";
}

.about-middle-image {
  width: 28%;
  height: 19vw;
  border: 1px solid #1d1d1b;
  overflow: hidden;
}

.about-middle-image img {
  height: 100%;
  width: 100%;
}

.about-bottom {
  align-items: start;
}

.artisan {
  font-family: "canopee";
  color: #e0dbd3;
  letter-spacing: -0.045em;
  background-color: #1d1d1b;
  padding: 0 3vw;
  font-size: 25vw;
  line-height: 0.9em;
}

.about-bottom-desc {
  font-size: 1.8vw;
  line-height: 2.5vw;
  font-family: "editorial";
  color: #1d1d1b;
}

.about-bottom-desc span {
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  text-decoration-thickness: 0.5px;
  text-decoration-color: #0000007a;
}

.awwwards {
  font-family: "canopee";
  font-size: 7.8vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding-top: 2%;
}

/* Testimonials */
.testimonials {
  padding: 2vw;
  position: relative;
  height: 32vw;
}

.testimonial-wrapper {
  width: 40vw;
  height: 27vw;
  background-color: #e0dbd3;
  border: 2.5px solid #000;
  border-radius: 0.8vw;
  padding: 1vw;
  transition: all ease 0.5s;
}

.testimonial {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
  padding: 2vw;
}

.testimonial-desc {
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  text-decoration-thickness: 0.5px;
  text-decoration-color: #0000007a;
  letter-spacing: -0.03em;
  flex: 0 auto;
  font-size: 2.2vw;
  line-height: 2.8vw;
  display: block;
  font-family: "editorial";
}

.testimonial-src {
  display: flex;
  gap: 5px;
}

.test-image {
  width: 3vw;
  height: 3vw;
  border: 1px solid #1d1d1b;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials img {
  height: 100%;
  width: 100%;
}

.test-name {
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 0.2vw;
  font-family: Canopee, sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 2vw;
}

.test-name span {
  font-family: "domaine";
}

.test-desc {
  letter-spacing: -0.01em;
  font-size: 1.4vw;
  line-height: 1.3vw;
  font-family: "editorial";
}

.test-desc span {
  text-decoration: underline;
}

.dash {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='2.5' stroke-dasharray='11%2c11' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
}

#box1 {
  position: absolute;
  top: 2vw;
  left: 2vw;
}

#box2 {
  position: absolute;
  top: 2vw;
  left: 20%;
}

#box3 {
  position: absolute;
  top: 2vw;
  left: 38%;
}

#box4 {
  position: absolute;
  top: 2vw;
  left: 57%;
}

#box1:hover ~ #box2 {
  transform: translateX(50%);
}

#box1:hover ~ #box3 {
  transform: translateX(30%);
}

#box2:hover {
  transform: translateX(-20%);
}

#box2:hover ~ #box3 {
  transform: translateX(30%);
}

#box3:hover {
  transform: translateX(-20%);
}

#box3:hover ~ #box4 {
  transform: translateX(30%);
}

/* Bottom Works */
.bottom-works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
  padding-top: 3vw;
  position: relative;
}

.bottom-works .top-border {
  position: absolute;
  top: 0;
  right: 2vw;
  left: 2vw;
  height: 1px;
  background-color: #1d1d1b;
}

@media screen and (max-width: 700px) {
  .bottom-works {
    flex-direction: column;
  }
}

/* Bottom Animated CTA */
.cta-wrapper {
  padding: 2vw;
  overflow: hidden;
  padding-top: 0;
}
.cta {
  padding: 1vw;
  width: 100%;
  border-top: 1px solid #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.cta::-webkit-scrollbar {
  display: none;
}

.cta h1 {
  font-size: 6vw;
  font-family: "domaine";
  font-weight: 100;
  display: inline-block;
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.cta h1 span {
  font-family: "canopee";
  background-color: #1b1b1b;
  color: #eae6e1;
  padding: 0 12px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 34px));
  }
}

.cta:hover h1 {
  animation-play-state: paused;
}

/* Footer */
footer {
  padding: 2vw;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
}

.stamp {
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.3vw;
}

.stamp-image {
  height: 24px;
  overflow: hidden;
}
.stamp-image img {
  height: 100%;
  width: 100%;
}

.legal {
  font-size: 1.3vw;
  line-height: 1.4vw;
  font-family: "editorial";
  text-transform: capitalize;
  margin-top: 1%;
}

.socials {
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.6vw;
  display: flex;
  align-items: center;
  gap: 5px;
}

.socials span {
  font-family: "domaine";
}

.dot {
  font-size: 3vw;
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column-reverse;
  }
  .stamp,
  .socials {
    font-size: 3vw;
    line-height: 3.1vw;
  }
}
