@font-face {
  font-family: canopee;
  src: url(./fonts/canopee.ttf);
}

@font-face {
  font-family: domain;
  src: url(./fonts/domaine.ttf);
}

@font-face {
  font-family: editorial;
  src: url(./fonts/editorial.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1d1d1b;
  font-family: "editorial";
}

main {
  position: relative;
  overflow-x: hidden;
  background-color: #cdc6be;
}

.paper-bg {
  background-image: url(./assets/bg.jpg);
  background-position: 50%;
  background-size: auto;
  mix-blend-mode: multiply;
  background-color: #cdc6be;
}

/* Navbar */
.menu-line {
  z-index: 2;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  background-color: #1d1d1b;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 2vw;
  font-family: "editorial";
  font-size: 1.8vh;
  line-height: 2vh;
}

nav img {
  width: 20vh;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.width-30 {
  width: 30vw;
}

header .headline {
  width: 28vw;
  height: 100%;
  text-align: center;
  border-left: 1px solid rgba(29, 29, 27, 0.5);
  border-right: 1px solid rgba(29, 29, 27, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  display: inline-block;
}

.animated-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 80px;
  z-index: 0;
  opacity: 0.5;
  pointer-events: none; /* Ensures the SVG doesn't interfere with hover */
}

.animated-ellipse ellipse {
  stroke-dasharray: 460; /* Total length of the ellipse perimeter */
  stroke-dashoffset: 460; /* Fully hidden by default */
  transition: stroke-dashoffset 0.5s ease-out; /* Smooth appearance */
}

.head-title:hover .animated-ellipse ellipse {
  stroke-dashoffset: 0;
}

header .head-title {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "canopee";
  font-size: 4.5vw;
  font-weight: 400;
  line-height: 4.5vw;
  z-index: 1;
  position: relative;
}

header .head-desc {
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 1vw;
  font-size: 2.6vw;
  line-height: 3vw;
}

header .header-item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.header-item:hover .header-item-img-div img {
  scale: 1.1;
}

/* For Desktop */
@media screen and (min-width: 701px) {
  header .header-item div {
    width: 30vw;
    overflow: hidden;
    display: flex;
  }
}

header .header-item-img-div {
  height: 25vh;
  width: 100%;
  border: 1px solid #1d1d1b;
  overflow: hidden;
}

header .header-item-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.5s;
}

header .header-item-name-img {
  height: 3vh;
  display: flex;
}

header .header-item-name-img img {
  height: 100%;
}

header .new {
  background-color: #c03f13;
  color: #cdc6be;
  font-family: "canopee";
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5vw;
  border-radius: 0.2vw;
  margin-left: 0.5vw;
  padding: 0.1vw 0.25vw 0;
  display: flex;
  align-items: center;
}

header .header-item-desc {
  max-width: 95%;
  letter-spacing: -0.01em;
  font-family: "editorial";
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.1em;
  color: #1d1d1b;
}

.mr {
  margin-right: 3vw;
}
.ml {
  margin-left: 3vw;
}

/* Miranda */
.miranda {
  color: #eae6e1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1d1d1b;
  font-size: calc(35vw - 2rem); 
  font-family: "canopee";
  padding: 5vh 2vw;
  line-height: 0.9;
  box-sizing: border-box; 
  overflow: hidden; 
}

.miranda div {
  width: 100%;
  background-color: #1d1d1b;
  white-space: nowrap; 
}

/* MWeb for Navbar, Header & Miranda */
@media screen and (max-width: 700px) {
  nav {
    justify-content: center;
  }
  .remove-from-mweb {
    display: none;
  }
  header {
    flex-direction: column;
  }
  .mr,
  .ml {
    margin: 3vh 0;
  }
  .header-item,
  .headline,
  .width-30,
  .header-item div,
  .header-item-img-div {
    width: 90vw;
  }
  header .new {
    font-size: 1.2vh;
    line-height: 1.5vh;
    border-radius: 0.2vh;
    margin-left: 0.5vh;
    padding: 0.1vh 0.25vh;
  }
  header .header-item-desc {
    font-size: 1.5vh;
    line-height: 1.8vh;
  }
  header .header-item-img-div {
    height: 15vh;
  }
  .miranda {
    padding: 2vh 2vw;
    }
}



